<nav class="navbar justify-content-center fixed-bottom navbar-expand-lg navbar-dark bg-dark">
    <div id="navbarNavBottom">
        <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#">
            <img src="../Kistenliste/img/baseline-copyright-24px.svg" width="20" height="12" class="d-inline-block" alt="">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted nav-link-bottom-margin" href="#">2019 Copyright: <span class="text-light"> Maximilian Glomm</span></a>
        </li>
        </ul>
    </div>
</nav>