<header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="http://localhost/FC/img/logo.png" width="45" height="65" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
            <ul class="nav nav-pills">
            <li class="nav-item active">
            </li>
            <li class="nav-item">
                <a class="nav-link text-light active bg-primary nav-a-border nav-a-margin" href="#">FC Stahl - Kistenformular <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light nav-a-border nav-a-margin" href="http://localhost/FC/z_showtable2.php">Kistenliste</a>
            </li>
            </ul>
        </div>
    </nav>
</header>